<ion-header>
  <ion-toolbar class="header">
    <ion-title text-center><strong>¡Bienvenido!</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background_image"></div>
  <br>
  <img class="icon" src="assets/icon/Artify.svg" alt="">
  <br>
  <ion-item class = "divide">
    <ion-text text-center>
      <ion-label class="label"><strong>¡Bienvenido a Artify!</strong></ion-label>
      <p>
        ¡La aplicación para artistas de todos los estilos y todos los tipos! Únete a esta gran comunidad.
      </p>
    </ion-text>
  </ion-item>
<ion-grid>
  <ion-button class="btn" expand="block" (click)="goToLogin()">Iniciar sesión</ion-button>
  <ion-button class="btn" expand="block">Registrate</ion-button>
</ion-grid>


</ion-content>