.header
{
    --background: #4d0e4f;
    --color: white;
}
.background_image
{
   background-image: url('../../../assets/img/fondo.jpg');
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   position: absolute;
   width: 100%;
   height: 100%;
}
.icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
}

.label
{
    display: block;
    margin-left: auto;
    margin-right:  auto;
    --color: #4d0e4f;
}
.btn
{
    --background: #ec6550;
    --color: white;
}