.header
{
    --background: #4d0e4f;
    --color: white;
}
.icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.btn-registro
{
    --background: #ec6550;
    --color: white;
}
.label
{
    color: #4d0e4f;
}